.question-table {
  width: 1200px;
  // 输入框
  .ant-input-affix-wrapper.css-dev-only-do-not-override-240cud.ant-input-outlined {
    background: rgba(255, 255, 255, 0.5);
  }

  .ant-pro-card.css-dev-only-do-not-override-240cud {
    background: rgba(234, 244, 249, 0.7);

    .ant-table-tbody {
      background: rgb(229, 233, 250);
      cursor: pointer !important;

      .ant-table-cell {
        border-bottom: 1px solid #FFFFFF;
      }
    }

    .ant-table-thead {
      .ant-table-cell {
        background: rgb(219, 227, 255);
      }
    }
  }

  th.ant-table-cell,
  td.ant-table-cell {
    padding-left: 15px !important;
  }

  .two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 限制显示两行 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

