#user-center-page {
  width: 100%;
  margin-bottom: -65px;
  // 输入框
  .ant-input-affix-wrapper.css-dev-only-do-not-override-240cud.ant-input-outlined {
    background: rgba(255, 255, 255, 0.5);
  }

  .ant-pro-card.css-dev-only-do-not-override-240cud {
    background: rgba(234, 244, 249, 0.7);

    .ant-table-tbody {
      background: rgb(229, 233, 250);
      cursor: pointer !important;

      .ant-table-cell {
        border-bottom: 1px solid #FFFFFF;
      }
    }

    .ant-table-thead {
      .ant-table-cell {
        background: rgb(219, 227, 255);
      }
    }
  }
  /* 自定义 Segmented 组件的选中项颜色 */
  .custom-segmented .ant-segmented-item-selected {
    background-color: rgba(103, 13, 243,0.8); /* 选中项的背景颜色 */
    color: white; /* 选中项的文字颜色 */
  }
}
