#admin-user-page {
  margin-bottom: -50px;
  // 输入框
  .ant-input-affix-wrapper.css-dev-only-do-not-override-240cud.ant-input-outlined {
    background: rgba(255, 255, 255, 0.5);
  }

  .ant-pro-card.css-dev-only-do-not-override-240cud {
    background: rgba(234, 244, 249, 0.7);
    text-align: center;

    .ant-table-tbody {
      background: rgb(229, 233, 250);
      cursor: pointer !important;

      .ant-table-cell {
        border-bottom: 1px solid #FFFFFF;
        text-align: center;

      }
    }

    .ant-table-thead {
      .ant-table-cell {
        background: rgb(219, 227, 255);
        text-align: center;
      }
    }
  }
}

